<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {% if page.needmath %}
    <link rel="stylesheet" href="{{ "/assets/katex.min.css" | relative_url }}">
    <script rel="src" src="{{ "/assets/jquery-1.11.1.min.js" | relative_url }}"></script>
    <script rel="src" src="{{ "/assets/katex.min.js" | relative_url }}"></script>
  {% endif %}
</head>
