---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.seealso.size > 0 %}
    <br/>
    <b>See also: </b>
    {% for sa in page.seealso %}
      <a href="{{ site.baseurl }}/terms/{{ sa }}.html">{{ sa }}</a>
    {% endfor %}
  {% endif %}

  {% if page.aka.size > 0 %}
    <br/>
    <b>AKA: </b>
    {% for _aka in page.aka %}
      {{ _aka }}
      {% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}

  {% if page.references.size > 0 %}
    <br/>
    <b>References: </b>
    <ul>
      {% for ref in page.references %}
        <li><a href="{{ ref }}">{{ ref }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</article>
